/*----------LOGO above TOC---------*/

#TOC::before {
  content: "";
  display: block;
  height: 150px;
  margin: 2em 10px 40px 10px;
  background-image: url("pythonLogo.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}